* {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    color: rgb(61, 61, 61);
}

ul {
    background-color: rgb(29, 100, 170);
    border: 1px solid white;
    height: 100px;
    width: 300px;
    margin-right: 20px;
}

body {
    background-color: rgb(194, 222, 255);
}